<main>
  <div class="img-etapas"><img src="../../../assets/img/1a_etapa2023.jpg" class="main-background" alt="foto atleta"></div>
  <div class="img-etapas"><img src="../../../assets/img/2a_etapa2023.jpg" class="main-background" alt="foto atleta"></div>
  <div class="img-etapas"><img src="../../../assets/img/foto_atleta.jpg" class="main-background" alt="foto atleta"></div>
  <div class="img-etapas"><img src="../../../assets/img/4a_etapa2023.jpg" class="main-background" alt="foto atleta"></div>
  <div class="img-etapas"><img src="../../../assets/img/foto_atleta.jpg" class="main-background" alt="foto atleta"></div>
  <div class="img-etapas"><img src="../../../assets/img/foto_atleta.jpg" class="main-background" alt="foto atleta"></div>
</main>
